body {
    margin: 0;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo {
    font-family: Arial, sans-serif;
    color: #F36060;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 0;
}

.logo:hover{
    color: #9e1b1b;
}

#userDetails {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

#firstName, #lastName {
    font-family: Arial, sans-serif;
    color: black;
    border: none;
    border-radius: 4px;
    margin-right: 4px;
}

#pageName {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

/* Text boxes with titles */
.textbox-container {
    width: 70%;
    margin: 20px auto;
}

.textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #BA98CA;
    border-radius: 8px;
    background: #E0E0E0
}

.textbox-title {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Rounded upload button */
.upload-btn {
    background: #BA98CA;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Center the button */
    margin: 0 auto; /* Center the button */
}

.upload-btn:hover {
    background-color: #543a62;
}

#categories-container {
    margin-top: 20px;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-list-item {
    margin-bottom: 5px;
}


#addCategoryBtn {
    background: #BA98CA;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

#addCategoryBtn:hover {
    background-color: #543a62;
}

